<%- include('../includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('../includes/alert', { message: locals.message }); %>
<div class="card mx-auto">
  <div class="card-body">
    <h4>
      Conversation with
      <span class="text-secondary">
        <%= locals.conversation.contactPhoneNumber %>
      </span>
    </h4>
    <hr />
    <!-- Loop through conversation messages -->
    <div class="messages-list">
      <% for (message of locals.conversation.Messages) { %>
        <% if (message.isInboundMessage) { %>
          <span class="mb-3 message-bubble inbound">
            <%= message.messageContent %>
          </span>
        <% } else { %>
          <span class="mb-3 message-bubble outbound">
            <%= message.messageContent %>
          </span>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="card-footer">
    <%- include('send-message-form', {
        recipientNumber: locals.conversation.contactPhoneNumber,
        conversationId: locals.conversation.id
    }); %>
  </div>
</div>
<%- include('../includes/footer'); %>
