<%- include('includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('includes/alert', { message: locals.message}); %>
<div class="card mx-auto">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Conversations</h5>
    <button
      class="btn btn-primary btn-sm"
      type="button"
      data-toggle="collapse"
      data-target="#new-conversation-panel"
      aria-expanded="false"
      aria-controls="new-conversation-panel"
    >
      New conversation
    </button>
  </div>
  <ul class="list-group list-group-flush collapse" id="new-conversation-panel">
    <li class="list-group-item pb-4">
      <form autocomplete="off" method="POST" action="/conversations">
        <div class="form-row">
          <div class="form-group col">
            <label for="firstName">First name</label>
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              id="firstName"
              name="firstName"
            />
          </div>
          <div class="form-group col">
            <label for="lastName">Last name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              id="lastName"
              name="lastName"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter phone number"
            id="phoneNumber"
            name="phoneNumber"
            required="true"
          />
        </div>
        <button class="btn btn-secondary btn-sm" type="submit">
          Add contact
        </button>
      </form>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    <% for (const conversation of locals.conversations) { %>
      <a
        href="conversations/<%= conversation.id %>"
        class="list-group-item list-group-item-action pb-3 pt-3"
      >
        <!-- Flex container with two sections:
          Section 1. Contact image + number/text message content
          Section 2. Timestamp
        -->
        <div class="d-flex justify-content-between mb-1">
          <div class="d-flex"><!-- Section 1 -->
            <div class="contact-image"></div>
            <div>
              <div class="font-weight-bold" style="font-size: 17px"><%= conversation.contactPhoneNumber %></div>
              <% if (conversation.Messages.length === 1) { %>
                <div>
                  <%= conversation.Messages[0].isInboundMessage ? '' : 'You: ' %><%= conversation.Messages[0].messageContent %>
                </div>
              <% } %>
            </div>
          </div>
          <div><!-- Section 2 -->
            <% if (conversation.Messages.length === 1) { %>
              <small><%= conversation.formattedSortDate %></small>
            <% } %>
          </div>
        </div>
      </a>
    <% } %>
  </ul>
</div>
<%- include('includes/footer'); %>
