<%- include('includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('includes/alert', { message: locals.message}); %>
<div class="card mx-auto">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Conversations</h5>
    <button
      class="btn btn-primary btn-sm"
      type="button"
      data-toggle="collapse"
      data-target="#new-conversation-panel"
      aria-expanded="false"
      aria-controls="new-conversation-panel"
    >
      New conversation
    </button>
  </div>
  <ul class="list-group list-group-flush collapse" id="new-conversation-panel">
    <li class="list-group-item">
      <form autocomplete="off" method="POST" action="/conversations">
        <label for="phoneNumber" class="font-weight-bold">Phone number:</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter phone number"
            id="phoneNumber"
            name="phoneNumber"
            required="true"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="submit">
              Add contact
            </button>
          </div>
        </div>
      </form>
    </li>
  </ul>
  <div class="card-body">
    <ul class="list-group">
      <% for (const conversation of locals.conversations) { %>
      <a
        href="conversations/<%= conversation.id %>"
        class="list-group-item list-group-item-action"
      >
        <%= conversation.contactPhoneNumber %>
      </a>
      <% } %>
    </ul>
  </div>
</div>
<%- include('includes/footer'); %>
