<%- include('../../includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('../../includes/alert', { message: locals.message}); %>
<%- include('chatListNewModal'); %>
<div class="card mx-auto">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Chats</h5>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      data-toggle="modal"
      data-target="#newChatModal"
    >
      New chat
    </button>
  </div>
  <ul class="list-group list-group-flush">
    <!-- No chat message -->
    <% if (locals.conversations.length === 0) { %>
      <div class="text-muted text-center mt-3">No chats yet. Click the "New chat" button to get started.</div>
    <% } %>
    <!-- Loop through chats -->
    <% for (const conversation of locals.conversations) { %>
      <a
        href="conversations/<%= conversation.id %>"
        class="list-group-item list-group-item-action pb-3 pt-3"
      >
        <!-- Flex container with two sections:
          Section 1. Contact image + number/text message content
          Section 2. Timestamp
        -->
        <div class="d-flex justify-content-between mb-1">
          <div class="d-flex"><!-- Section 1 -->
            <div class="contact-image">
              <% if(conversation.contactFirstName || conversation.contactLastName) { %>
                <% const firstNameInitial = conversation.contactFirstName ? conversation.contactFirstName[0] : '' %>
                <% const lastNameInitial = conversation.contactLastName ? conversation.contactLastName[0] : '' %>
                <% const contactInitials = firstNameInitial + lastNameInitial %>  
                <%= contactInitials.trim() %>
              <% } %>
            </div>
            <div>
              <div class="font-weight-bold" style="font-size: 17px">
                <% if(conversation.contactFirstName || conversation.contactLastName) { %>
                  <% const contactName = conversation.contactFirstName + " " + conversation.contactLastName %>  
                  <%= contactName.trim() %>
                <% } else { %>
                  <%= conversation.formattedPhoneNumber %>
                <% } %>
              </div>
              <% if (conversation.Messages.length === 1) { %>
                <div>
                  <%= conversation.Messages[0].isInboundMessage ? '' : 'You: ' %><%= conversation.Messages[0].messageContent %>
                </div>
              <% } %>
            </div>
          </div>
          <div><!-- Section 2 -->
            <% if (conversation.Messages.length === 1) { %>
              <small><%= conversation.formattedSortDate %></small>
            <% } %>
          </div>
        </div>
      </a>
    <% } %>
  </ul>
</div>
<%- include('../../includes/footer'); %>
