<%- include('../../includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('../../includes/alert', { message: locals.message}); %>
<%- include('chatListNewModal'); %>
<div class="card mx-auto">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Chats</h5>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      data-toggle="modal"
      data-target="#newChatModal"
    >
      New chat
    </button>
  </div>
  <ul class="list-group list-group-flush">
    <!-- No chat message -->
    <% if (locals.conversations.length === 0) { %>
      <div class="text-muted text-center mt-3">Click the button below to start a new chat</div>
    <% } %>
    <!-- Loop through chats -->
    <% for (const conversation of locals.conversations) { %>
      <a
        href="conversations/<%= conversation.id %>"
        class="list-group-item list-group-item-action pb-3 pt-3"
      >
        <!-- Flex container with two sections:
          Section 1. Contact image
          Section 2. Name and message content + timestamp and unread message badge
        -->
        <div class="d-flex mb-1">
          <!-- Section 1 -->
          <div class="contact-image">
            <% if(conversation.contactFirstName || conversation.contactLastName) { %>
              <% const firstNameInitial = conversation.contactFirstName ? conversation.contactFirstName[0] : '' %>
              <% const lastNameInitial = conversation.contactLastName ? conversation.contactLastName[0] : '' %>
              <% const contactInitials = firstNameInitial + lastNameInitial %>  
              <%= contactInitials.trim() %>
            <% } %>
          </div>
          <!-- Section 2 -->
          <div class="d-flex justify-content-between flex-column flex-sm-row" style="flex-grow: 1">
            <!-- Name and message content -->
            <div>
              <div class="font-weight-bold" style="font-size: 17px">
              <% if(conversation.contactFirstName || conversation.contactLastName) { %>
                <% const contactName = conversation.contactFirstName + " " + conversation.contactLastName %>  
                <%= contactName.trim() %>
              <% } else { %>
                <%= conversation.formattedPhoneNumber %>
              <% } %>
              </div>
              <% if (conversation.Messages.length === 1) { %>
              <div>
                <%= conversation.Messages[0].isInboundMessage ? '' : 'You: ' %><%= conversation.Messages[0].messageContent %>
              </div>
              <% } %>
            </div>
            <!-- Timestamp and unread message badge -->
            <% if (conversation.Messages.length === 1) { %>
            <div>
              <small><%= conversation.formattedSortDate %></small>
              <% if (conversation.unreadMessages > 0) { %>
                <div class="badge badge-pill badge-info"><%= conversation.unreadMessages %> new</div>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
      </a>
    <% } %>
  </ul>
</div>
<button
  type="button"
  class="btn btn-primary new-chat-button"
  data-toggle="modal"
  data-target="#newChatModal"
>
  <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
</button>
<%- include('../../includes/footer'); %>
