<%- include('../../includes/header', { title: 'Conversations', loggedIn: true }); %>
<%- include('../../includes/alert', { message: locals.message }); %>
<%- include('chatDetailsEditModal', { conversation: locals.conversation }); %>
<%- include('chatDetailsConfirmDeleteModal', { conversation: locals.conversation }); %>
<div class="card mx-auto">
  <%- include('chatDetailsHeader', { conversation: locals.conversation }); %>  
  <div id="scrollable-messages-area" class="card-body">
    <!-- No messages -->
    <% if (locals.conversation.Messages.length === 0) { %>
      <div class="text-muted text-center mt-3">No messages. Try sending one below.</div>
    <% } %>
    <!-- Loop through conversation messages -->
    <div id="messages-list">
      <% for (message of locals.conversation.Messages) { %>
        <% if (message.isInboundMessage) { %>
          <span class="text-muted timestamp inbound"><%= message.createdAtFormatted %></span>
          <span class="mb-3 message-bubble inbound">
            <%= message.messageContent %>
          </span>
        <% } else { %>
          <span class="text-muted timestamp outbound"><%= message.createdAtFormatted %></span>
          <span class="mb-3 message-bubble outbound">
            <%= message.messageContent %>
          </span>
        <% } %>
      <% } %>
    </div>
  </div>
    <%- include('chatDetailsFooter', { conversation: locals.conversation }); %>
</div>
<!-- The div below saves the conversation's id so it can be
  accessed on the client side by the JavaScript file: conversation.js -->
<div id="custom-data" data-conversation-id=<%= locals.conversation.id %>></div>
<%- include('../../includes/footer'); %>
